@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

.App{
    min-height: 100vh;
    display: flex;
    background-image: url(../public/bg_image.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}